<!-- FILE:templates/apps/stats.html -->
<!--Body content-->
<div id="content" class="clearfix">
    <div class="contentwrapper"><!--Content wrapper-->
        <div class="row-fluid">
            <div class="span12" style="margin-right:auto; margin-left:auto;">
                <div class="page-header">
                    <h1>App Console for {{ appid }}</h1>
                </div><!--close header-->
                <div style="margin-right:auto; margin-left:auto;">
                  {% if app_url %}
                    <p>View more detailed information about your app at the <a class="btn btn-primary" href='{{ app_url }}/_ah/admin' target="_blank">GAE Admin Console</a></p>
                </div><br />
                  {% else %}
                    <p>Your app is still loading. Check back here momentarily for a link to your app's Admin Console.</p>
                  {% endif %}

                <div style="margin-right:auto; margin-left:auto;">
                <ul id="appConsoleTabs" class="nav nav-tabs"><!-- tab links -->
                    <li class="active"><a href="#request-stats" data-toggle="tab">Requests Per Second</a></li>
                    <li class=""><a href="#kind-stats" data-toggle="tab">Kind Statistics</a></li>
                    <li class=""><a href="#app-info" data-toggle="tab">App Info</a></li>
                    </li>
                </ul>


                <div style="min-height:200px; margin-right:auto; margin-left:auto;" id="appConsoleContent" class="tab-content">
                    <!-- REQUESTS PER SECOND -->
                    <div class="tab-pane fade active in" id="request-stats">
                        <div style="margin-right:auto; margin-left:auto;">
                          <h3>Requests Per Second</h3>
                        </div><!-- close marginright -->
                        <div class="flot-container">
                          <p class="axislabel yaxislabel" style="margin-top:260px;">Number of Requests</p>
                          <div id="requests-per-second-flot" class="flot-placeholder"></div>
                        </div>
                    </div>

                    <!-- KIND STATISTICS-->
                    <div class="tab-pane fade" id="kind-stats">
                        <div class="span2" style="margin-right:auto; margin-left:auto;">
                          <h3>Kind Statistics</h3> <br />
                            <a id='groomer' href="#" data-toggle="groomer-tooltip" title="Click to update kind statistics" class="btn btn-primary btn-large">Update</a>
                        </div><!-- close marginright -->
                          <div style="margin-top:24px" class="flot-container">
                            <div id="kind-flot" class="flot-placeholder"></div>
                          </div><!-- close kind container-->
                    </div><!-- close kind stats content -->

                    <!-- APP INFO -->
                    <div class="tab-pane fade" id="app-info">
                            <div class="row-fluid">
                            <div style="margin-right:auto; margin-left:auto;">
                              <h3>{{ instance_info|length }} instances are hosting this app:</h3>
                            </div><!-- close marginright -->
                            <div class="offset1 span8">
                              <table class="table">
                                <thead>
                                  <tr>
                                    <td>Host</td>
                                    <td>Port</td>
                                    <td>Language</td>
                                  </tr>
                                </thead>
                                <tbody>
                                {% for instance in instance_info %}
                                  <tr>
                                    <td style="text-align:left">{{ instance.host }}</td>
                                    <td style="text-align:left">{{ instance.port }}</td>
                                    <td style="text-align:left">{{ instance.language }}</td>
                                  </tr>
                                {% endfor %}
                                </tbody>
                              </table>
                            </div><!-- close offset -->
                          </div><!-- close row fluid-->
                    </div><!-- end app info tab -->
              </div><!-- end tab content -->
              </div>
            </div>
          </div><!-- close marginright -->
        </div>



<script>
// Calls the Groomer if the user clicks on the 'Update' button.
$('#groomer').click(function() {
  $.ajax({
    url: "/groomer"
  }).done(
  function(response) {
    console.log(response);
    update_stats_info();
  })
});

//Plots JSON data on a line graph
window.onload = function() {
  update_request_info();
  update_stats_info();

  setInterval(
    function() {
      update_request_info();
      update_stats_info();
    }, 20000);
}

/**
 * Updates the graph that tells users how many requests per second reach their
 * application. If no data is available, then we display a message to the user
 * instead.
 */
function update_request_info() {
  $.ajax({
    url: "/apps/stats/requests?appid={{ appid }}"
  }).done(
  function(json_data) {
    var req_info = JSON.parse(json_data);
    var thetuples = [];
    for (var index = 0; index < req_info.length; index++) {
      var x = req_info[index]['timestamp'] * 1000;
      var y = req_info[index]['num_of_requests'];
      thetuples.push([x, y]);
    }
    if (thetuples.length == 0) {
      $('#requests-per-second-flot').text('No request data is currently ' +
        'available. This data is generated once every 20 seconds, so ' +
        'please wait and it should be updated shortly.');
    } else {
      $('#requests-per-second-flot').text('');
      $.plot($("#requests-per-second-flot"), [thetuples], {
        xaxis: {
          mode: "time",
          timezone: "browser",
          timeformat: "%m/%d %H:%M"
        }
      });
    }
  });
}


/**
 * Updates the pie chart that tells users what Kinds their application has
 * stored in the Datastore, as well as the percentage that each Kind is storing
 * compared to the other Kinds.
 */
function update_stats_info() {
  $.ajax({
    url: "/apps/stats/datastore?appid={{ appid }}"
  }).done(
    function(json_data) {
      var stats_info = JSON.parse(json_data);
      var newest_info = stats_info[stats_info.length-1];
      var newest_timestamp = null;
      for (var timestamp in newest_info) {
        newest_timestamp = timestamp;
      }

      var data = [];
      for (var index=0; index < stats_info.length; index++) {
        entity_info = stats_info[index];
        var this_timestamp = null;
        for (var timestamp in entity_info) {
          this_timestamp = timestamp;
        }
        if (this_timestamp == newest_timestamp) {
          var entity_stats = entity_info[this_timestamp];
          for (var entity_name in entity_stats) {
          var entity_size = entity_stats[entity_name]["bytes"];
            data.push({ label: entity_name + " (" + entity_size + " bytes)", data: [[1, entity_size]] });

          }
        }
      }

      if (data.length == 0) {
        $('#kind-flot').text("No Kind data is currently available. " +
          "This data updates every day by default, or you can click " +
          "the 'Update' button above to manually generate this data.");
      } else {
        $('#kind-flot').text('');
        $.plot('#kind-flot', data, {
          series: {
            pie: {
              show: true
            }
          },
          grid: {
		    hoverable: true
			},
	      tooltip: true,
          tooltipOpts: {
				content: "%s",
				shifts: {
					x: 20,
					y: 0
				},
		  defaultTheme: true
			},
          legend: {
            show: true
          }
        });
      }
    });
}

</script>
